@mixin button-hover-effect {
    &:hover {
        background-color: var(--color-hover);
        /* Pastel Green */
        transition-duration: 0.3s;

        .effect {
            transform: scale(15);
            transform-origin: center;
            opacity: 1;
            transition-duration: 0.3s;
        }

        .text {
            color: var(--color-dark);
        }
    }
}

@mixin noise {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../noise.png'); // Adjust the path if necessary
    background-repeat: repeat;
    opacity: 0.1; // Adjust for noise intensity
    pointer-events: none; // Ensure it doesn't interfere with interactions
    z-index: -1; // Ensure it sits behind the content
    animation: noiseAnimation 1s steps(10) infinite;
}

@mixin button {
    border: none;
    background-color: var(--color-button-bg);
    padding: 0.5rem 1rem;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1rem;
    font-family: 'Outfit', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s ease, color 0.3s ease;

    @include button-hover-effect;

    &:disabled {
        cursor: not-allowed;
        opacity: 0.6;
    }
}