:root {
  /* Font Variables */
  --font-family: 'Outfit', sans-serif;
  --font-monospace: 'Courier New', Courier, monospace;

  /* Color Variables */
  --color-background: linear-gradient(135deg, #ffd4cf, #d4b0ff, #a7ffc6);
  --color-text: #000000; /* Black */
  --color-main-bg: #ffffff; /* White */
  --color-button-bg: #ffffff; /* Off White / Light Gray */
  --color-hover: rgb(233, 187, 229); /* Olive Green */

  /* Toggle Switch Colors */
  --toggle-bg: #ccc;
  --toggle-checked-bg: var(--color-hover);
  --toggle-knob-bg: #fff;
} 